h1 {
    color:limegreen;
    border-bottom: solid 3px;
    border-bottom-color: limegreen;
    max-width: fit-content;
    border-width: 2px;

}

body {
    background-color: black;
}

th {
    padding: 5px;
    border: inset 3px limegreen;
    border-width: 5px;
}

td {
    border: solid 3px limegreen;
    text-align: center;
    padding: 5px;
}

table#table {
    border: inset 3px black;
    border-radius: 25px;
}

label {
    font-size: 18px;
    font-weight: 800;
}

input {
    max-width: fit-content;
    max-height: fit-content;
}

#clear-btn {
    border-width: 2px;
    border-color: white;
    margin-top: 4px;
    background-color: limegreen;
    max-width: fit-content;
    height: 30px;
    text-align: center;  
    font-size: 14px;

}

input {
    border-width: 2px;
    border-color: white;
    margin-top: 4px;
    background-color: limegreen;
    max-width: fit-content;
    height: 30px;
    text-align: center;  
    font-size: 14px;

}

tr {
    color:limegreen;
    font-size: 22px;
}


input {
    max-width: 100px;
}

label {
    color: limegreen;
}